<body class="dark-edition">

  <div class="container">
    <div class="row">
      <p
        style="font-size: 40px; color: white; font-family: 'Acme', sans-serif; margin-top: 70px; margin-bottom: 30px;"
      >View ADS</p>
      <div style="margin-top: 20px; width: 40%;">

        <table
          style="background-color: rgb(1, 12, 19);"
          class="table table-hover"
        >
          <thead>

            <tr>
              <th style="color: white;" scope="col">No</th>
              <th style="color: white;" scope="col">image</th>
              <th style="color: white;" scope="col">Name</th>
              <th style="color: white;" scope="col">Action</th>
            </tr>

          </thead>
          <tbody>
            {{#each ADSCategory}}
              <tr>
                <th style="color: white;" scope="row">{{add @index "1"}}</th>
                <td><img
                    width="100px"
                    height="70px"
                    src="/ADS_IMAGES/{{this.category}}__1.jpg"
                    alt=""
                  /></td>
                <td style="color: white;">{{this.category}}</td>
                <td><a
                    class="btn btn-danger"
                    href="/admin/Delete_ADS/{{this.category}}"
                  >DELETE</a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</body>