


  


<div class="wrapper1 ">
    <div class="sidebar" style="" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
  
      <div class="logo"><a href="" class="simple-text logo-normal">
          BIG BAG
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/admin">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
        


          
         <div class="nav-item dropdown">
           
  <a  class=" nav-link " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="padding-left: 30px; ">
    <i class="material-icons">content_paste</i> <p class="dropdown-toggle">Product Managment</p>
  </a>

  <ul style="margin-left: 50px " class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
    <li><a class="dropdown-item" href="/admin/add-product">Add Product</a></li>
    <li><a class="dropdown-item" href="/admin/add_category">Add Category</a></li>
    <li><a class="dropdown-item" href="/admin/view-product">View Product</a></li>
    
  </ul>
</div>


             <div class="nav-item dropdown">
           
  <a  class=" nav-link " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="padding-left: 30px; ">
    <i class="material-icons">content_paste</i> <p class="dropdown-toggle">User Details</p>
  </a>

  <ul style="margin-left: 50px " class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
    <li><a class="dropdown-item" href="/admin/userManagment">User Managment</a></li>
    <li><a class="dropdown-item" href="/admin/BlockedUsers">Blocked Users </a></li>
    
    
  </ul>
</div>

          <li class="nav-item ">
            <a class="nav-link" href="/admin/Add_Coupon">
              <i class="material-icons">content_paste</i>
              <p style="color: white;">Coupon</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="/admin/OrderList">
              <i class="material-icons">content_paste</i>
              <p style="color: white;">Order List</p>
            </a>
          </li>



          
<div class="nav-item dropdown">
           
  <a  class=" nav-link " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="padding-left: 30px; ">
    <i class="material-icons">content_paste</i> <p class="dropdown-toggle">Offer</p>
  </a>

  <ul style="margin-left: 50px " class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
    <li><a class="dropdown-item" href="/admin/ProductOffer">Product Offer</a></li>
    <li><a class="dropdown-item" href="/admin/CategoryOffer">Category Offer </a></li>
    
    
  </ul>
</div>




<div class="nav-item dropdown">
           
  <a  class=" nav-link " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="padding-left: 30px; ">
    <i class="material-icons">content_paste</i> <p class="dropdown-toggle">ADS</p>
  </a>

  <ul style="margin-left: 50px " class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
    <li><a class="dropdown-item" href="/admin/Add_Ads">Add Ads</a></li>
    <li><a class="dropdown-item" href="/admin/View_Ads">View Ads </a></li>
    
    
  </ul>
</div>


          


                       <div class="nav-item dropdown">
           
  <a  class=" nav-link " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="padding-left: 30px; ">
    <i class="material-icons">content_paste</i> <p class="dropdown-toggle">Report</p>
  </a>

  <ul style="margin-left: 50px " class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
    <li><a class="dropdown-item" href="/admin/report">Order Report</a></li>
    <li><a class="dropdown-item" href="/admin/salesReport ">Sales Report </a></li>
    <li><a class="dropdown-item" href="/admin/productStockReport ">Stock Report </a></li>
    
    
  </ul>
</div>





          

        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      

      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)"></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            
            <ul class="navbar-nav">
            
              <li class="nav-item">
                <a style="font-weight: 200px; font-size:large;" class="nav-link btn btn-primary" href="/admin/adminLogOut">
                  Log Out
                 
                </a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->


