

<div class="container">
    <div class="row">

        <center>
        <div >
            <a  href="./" class="brand-wrap">
			<img  class="logo1"   src="../images/logo.svg">
		</a>
        </div>
        </center>

    </div>
</div>





<div class="row  col-12">
    <div class="h3 text-center mt-5 " style="color: #961010;">Verify OTP</div>

      <div style="padding-top: 10px;" class="wrapper">
        <div class="card">
          {{!-- <form style="" action="/otpverify" id="valid" method="POST" class="d-flex flex-column">
            
            <div style="color: #961010;" class="d-flex align-items-center input-field my-3 mb-5">
              <span class="far fa-user p-2"></span>
              <input type="number" placeholder="Please Enter OTP " name="otp" class="form-control"/>
              <input type="hidden" name="mobile" value="{{mobileNum}}">
            </div>
            
            
            
            <div class="m-auto">
              <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
           
          </form> --}}


                    <form action="/otpverify" id="valid21"  method="POST" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
	<div style="display: flex; justify-content: center">
  <input class="boxStyle" type="tel" id="digit-1" name="digit_1" data-next="digit-2" />&nbsp;
	<input class="boxStyle" type="tel" id="digit-2" name="digit_2" data-next="digit-3" data-previous="digit-1" />&nbsp;
	<input class="boxStyle" type="tel" id="digit-3" name="digit_3" data-next="digit-4" data-previous="digit-2" />&nbsp;
	<input class="boxStyle" type="tel" id="digit-4" name="digit_4" data-next="digit-5" data-previous="digit-3" />

  <input type="hidden" name="mobile" value="{{mobileNum}}">
  </div>


	<div style="display: flex; justify-content: center;">
	<button style="border: none;background-color: white; margin-top: 20px; color: rgb(145, 30, 30)" id="resendButton" onclick="resendOTP('{{mobileNum}}')" type="button" class="btn btn-outline-dark btn-lg px-5"disabled>Resend OTP</button>
	</div>

			<p style="text-align: center; color: rgb(145, 30, 30);" id="counter"> </p>


              <div style="display: flex; justify-content: center; margin-top: 30px">
              <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

  {{#if otpError}}
  <p style="color: rgb(145, 30, 30); font-weight: bolder; font-size: larger; text-align: center; margin-top: 20px;">OTP ERROR</p>
  {{/if}}

    {{#if serverError}}
	<p style="color: rgb(145, 30, 30); font-weight: bolder; font-size: larger; text-align: center; margin-top: 20px;">server ERROR</p>
  {{/if}}

</form>




          
          

        </div>
      </div>

    </div>



<style>

      @import url('https://fonts.googleapis.com/css?family=Raleway:200');

$BaseBG: #0f0f1a;

body, html {
	height: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}

.boxStyle{
  width: 50px;
  border-radius: 10px;
  text-align: center;
  border: solid 2px rgb(51, 5, 5);
}


body {
	background-color: $BaseBG;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.digit-group {
	input {
		width: 30px;
		height: 50px;
		background-color: lighten($BaseBG, 5%);
		border: none;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		font-weight: 200;
		color: white;
		margin: 0 2px;
	}

	.splitter {
		padding: 0 5px;
		color: white;
		font-size: 24px;
	}
}

.prompt {
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}

    </style>




      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>







<script>
  var count = 10
  function counter() {
    document.getElementById("counter").innerHTML = `<span>Resend New OTP in: ${count}s</span>`
    count = count - 1;
    if (count >= 0) {
      setTimeout(counter, 1000)
    }
  }
    
  //How remove the disalbed attribute to a button
  function setDisabled() {
    
    document.getElementById('resendButton').disabled = false
  }
  
  window.onload = counter();
  window.onload = function () {
    window.setTimeout(setDisabled, 10000);
  }
  function resendOTP(mobileNum){
    location.href = '/resend_OTP_forgotOTP_verify'
  }

</script>











      <script>

       $(document).ready(function(){
  $("#valid21").validate({
    rules:{
      digit_1:{
        required:true,
        minlength:4,
        maxlength:4
      },
      digit_2:{
        required:true,
      },
      digit_3:{
        required:true,
      },
      digit_4:{
        required:true,
      }
      
    },
    messages:{
      "Enter Currect OTP",
     
    }
  })
})

      </script>






<script>

  $('.digit-group').find('input').each(function() {
	$(this).attr('maxlength', 1);
	$(this).on('keyup', function(e) {
		var parent = $($(this).parent());
		
		if(e.keyCode === 8 || e.keyCode === 37) {
			var prev = parent.find('input#' + $(this).data('previous'));
			
			if(prev.length) {
				$(prev).select();
			}
		} else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
			var next = parent.find('input#' + $(this).data('next'));
			
			if(next.length) {
				$(next).select();
			} else {
				if(parent.data('autosubmit')) {
					parent.submit();
				}
			}
		}
	});
});

</script>
