



<div class="container">
    <div class="row">

        <center>
        <div >
            <a  href="./" class="brand-wrap">
			<img  class="logo1"   src="../images/logo.svg">
		</a>
        </div>
        </center>

    </div>
</div>





<div class="row  col-12">
    <div class="h3 text-center mt-5 " style="color: #961010;">Change Password</div>

      <div style="padding-top: 10px;" class="wrapper">
        <div class="card">
          <form style="" action="/changepassword" id="valid28" method="POST" class="d-flex flex-column">
            
            <div style="color: #961010;" class="d-flex align-items-center input-field my-3 mb-5">
              <span class="far fa-user p-2"></span>
              <input  type="password" placeholder="enter new password "  name="password"  id="pss1"  class="form-control"  />
            </div>
             
            <p id="msg"></p>
    


            <div style="color: #961010;" class="d-flex align-items-center input-field my-3 mb-5">
              <span class="far fa-user p-2"></span>
              <input type="password"  placeholder="confirm password " onkeyup="check()" id="pss2"  name="password1"  class="form-control" />
              
            </div>



           <div style="display: flex; justify-content: center;" >
              <input type="submit" value="Submit" class="btn btn-outline-success" style=""/>
            </div>
            
              
            </div>
           
           
          </form>
          
          

        </div>
      </div>

    </div>


          <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>


<script>
 
 function check(){
     if (document.getElementById('pss1').value ==
    document.getElementById('pss2').value) {
    document.getElementById('msg').style.color = 'green';
    document.getElementById('msg').innerHTML = 'matching';
  } else {
    document.getElementById('msg').style.color = 'red';
    document.getElementById('msg').innerHTML = 'not matching';
  }


 }

</script>

<script>
  $(document).ready(function(){
    $("valid28").validate({
      rules:{
        password:{
          required:true,
          minlength:3
          
        },
        password1:{
          required:true,
          minlength:3
          
        },

      },
      message:{
        password:"Enter password",
        password:"Enter password"
      }
    })
  })

</script>
